@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Splash&display=swap');

body{
    background-color: black !important;
    color: cornflowerblue !important;
    font-family: 'Arima', cursive;
    font-size: 10px;
} 

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

  /* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

  /* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

  /* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: grey;
    color: black;
}


/* Aligning centre to all elements */
*{
    text-align: center;

}
/* paragraph colours and marked important so java script does not over right. */
p {
    color: lightblue !important;
    font-size: 20px;
    font-family: 'Arima', cursive;
}

/* List colours and heading colours.  */
li {
    color: lightblue;
    font-size: 20px;
    font-family: 'Arima', cursive;
}
h1,h2,h3,h4,h5,h6{
    color: rgb(60, 152, 182) !important;
    font-family: 'Arima', cursive;
}
/* image resizing as to large default */
img{
    width: 20%;
}


.content{
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 540px;
    font-family: 'Arima', cursive;
}

a:hover{
    color: salmon;
}

ol{
    display: inline-block;
}

.album {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
}

.desktop, .mobile {
    display: none !important;
}

.desktop, .mobile {
    display: none !important;
}

/* @media (max-width: 500px) { 
    
} */

@media (orientation: landscape) {
    .desktop {
        display: inline-block !important;
    }
}

@media (orientation: portrait) {
    .mobile {
        display: inline-block !important;
        
    }
    body {
        color:aquamarine !important;
        background-color: black !important;
    }
}

.red{
    color: red !important;
}