{% extends 'base.html' %}

{% block content %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>The real fun stuff! Music production</h1>
    <p>Since I was young and growing up into my teenage years I never actually liked music, not a single genre or song. I didn't even like game sound tracks or custom made songs from youtube. As i got closer to my adult ages i really started having an ear for music and ended up liking every genre under the sun ( to some extent ). I started playing beat songs, so for a few examples games such as Guitar Hero, Music racer, Audio surf, and my singing monsters ( of all things ) to name a few until i found Fuser which you all know about! </p>

    <p>Eventually, I got into using DAWs after learning how to DJ. DAWs are the naming programs use for professional music production with a whole host of options to change and layouts to get your head around at first, it is extremely overwhelming if you have never seen one before. Here is an example of a DAW in the image below:</p>
</div>
    <img src="static/livedaw.jpg" alt="Screenshot of a live DAW"class="zoom" class="size">

    <h4>and thats simplified</h4>
    <p>Scary right? Wrong! if you can look over the 1000's of buttons and break it down section by section it becomes natural, not straight away obviously "You can't expect to succeed if you only put in the work on the days you feel like it" they are a multitude of tutorials on the web and Youtube, nobody expects you to learn everything alone, Google is your best friend and is the perfect place to start if you are interested in that sector of music making. "JUST DO IT". Know the juicy stuff, i have provided a large majority of my songs for you to view below if you want to have a listen please be my guest. All these are made by me and only me using Ableton Live Studio 11</p>

  <h2>Some of my music enjoy!</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="static/madhouse.png" alt="Mad house album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/madhouse-dj-qweggy"target="_blank">Mad House</h3></a>
          <p>Hard House Mix</p>
        </div>
      </div>
      <div class="item">
        <img src="static/androidnation.png" alt="android nation album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/android-nation-dj-qweggy"target="_blank">Android Nation</h3></a>
          <p>Industrial</p>
        </div>
      </div>
      <div class="item">
        <img src="static/alcove.png" alt="Alcove album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-alcove"target="_blank">Alcove</h3></a>
          <p>Heavy Drum and Bass</p>
        </div>
      </div>
      <div class="item">
        <img src="static/citycruise.png" alt="City cruise album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/city-cruise-trance-mix-dj-qweggy"target="_blank">City Cruise</h3></a>
          <p>Trance</p>
        </div>
      </div>

      <div class="item">
        <img src="static/injustice.png" alt="Injustice album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/injustice-dj-qweggy"target="_blank">Injustice</h3></a>
          <p>Drum and Bass</p>
        </div>
      </div>
    
      <div class="item">
        <img src="static/qweginated.png" alt="qweginated album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/qweginated"target="_blank">qweginated</h3></a>
          <p>Hard Drum And Bass Mix</p>
        </div>
      </div>
      <div class="item">
        <img src="static/earthquake.png" alt="eathquake album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-earthquake"target="_blank">Earthquake</h3></a>
          <p>Rap, Pop</p>
        </div>
      </div>
      <div class="item">
        <img src="static/themarch.png" alt="The March album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/the-march-dj-qweggy"target="_blank">The March</h3></a>
          <p>Drum and Bass</p>
        </div>
      </div>
      <div class="item">
        <img src="static/titans.png" alt="titans album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-titans"target="_blank">Titans</h3></a>
          <p>Hard Drum And Bass Mix</p>
        </div>
      </div>
      <div class="item">
        <img src="static/harmonixaremix.png" alt="Harmonixa Remix album cover" style="width:50%;">
        <div class="carousel-caption">
          <h3><a href="https://soundcloud.com/qweggy-651047868/harmonixa-remix-dj-qweg"target="_blank">Harmonixa Remix</h3></a>
          <p>Drum and Bass</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<br>
<p>If you would like to see all my music please visit my <a href ="https://soundcloud.com/qweggy-651047868"target="_blank"> soundcloud</a> alternatively click here to go to the <a href ="{{ url_for('my_view.aboutmusicproduction')}}">top of the page</a>.</p>
</body>
</html>
{% endblock %}