{% extends 'base.html' %}

{% block content %}
<h1>Fun for all, DJ'in</h1>
    <p>Anyone can be a DJ ( Disc Jockey ) but it takes time and skill to become a good DJ as with everything else in this world we have to put in the time, effort and training on a regular to get anywhere we wish, the same goes for DJ'in but DJ'in can be a lot of fun along the way. So DJing is the term used for mixing 1 song into another with little to no change to the flow of the music (important) know we all can click play next song, in a way, this is super basic djing, now to take that concept and instead of just playing the next song what if we could fade out and fade back into the new song, this is basic DJin </p>
<br>
<img src="static/vdj.jpg" alt="A picture of the virtual DJ software screen">
<br>
<br>
    <p>From the above we can learn how to extend this knowledge from a simple fade out to fade in and instead how about we get that quiet fade out and fade in removed? ( as this is very noticeable ) this is where we get to play 2 songs at once and automatically flow the 1st song into the 2nd without notice. A great start to doing this and without paying a large sum of money on some DJ decks you may never use again we can use a program called Virtual DJ, Virtual DJ is a software most if not all computers can run and its a pair of decks on your screen being controlled by your mouse and if you so choose keyboard shortcuts and does exactly what a real DJ deck can do. </p>
<br> 
<img src="static/djdecks.jpg" alt="a frog djing with headphones">
<br>
<p>Almost forgot you back to the top link here ya <a href ="{{ url_for('my_view.aboutdj')}}">go</a></p>
{% endblock %}