{% extends 'base.html' %}

{% block content %}
<h1>About the music</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus at quia sed repellat ab repudiandae architecto? Praesentium magni vero pariatur id? Vel, pariatur eligendi. Iusto doloribus veritatis tempora obcaecati reprehenderit vitae quisquam reiciendis pariatur, illo minima incidunt, quis numquam accusantium temporibus beatae nesciunt modi, vel ab laudantium autem aperiam odit. Numquam vitae assumenda aspernatur iste ea porro sapiente libero aliquam possimus molestiae? Quam maxime rerum, alias esse iusto voluptatum sunt! Iusto, minima? Error ullam et facere suscipit, voluptate iure vel officia incidunt aperiam modi soluta. Quam accusamus explicabo exercitationem, corporis nobis quia voluptas? Nisi quibusdam ex animi, expedita nulla autem.</p>

    <div>
        <a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-alcove"target="_blank">
        <img class="album2" src="static/alcove.png"  alt="Album cover of alcove"></a> 
        <a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-earthquake"target="_blank">
        <img class="album2" src="static/earthquake.png" alt="Album cover of earthquake"></a>
    </div>
{% endblock %}