{% extends 'base.html' %}

{% block content %}
<h1>About the music</h1>
    <p>Music, where can we begin with music? Music has never always been a massive part of my life, in fact when I was a tadpole I hated all aspects of music and never listened to any of it ( yes really ). Music really only started changing everything in my life since my late teens or early 20's where I started exploring music games more often, hearing regular songs on the radio and I started liking a few!</p>

    <p> I got into game soundtracks and EST's for a few years and would be my go too when I was working on a project or playing a game to keep me entertained. From this day forward I was always interested in music genre type games ( as well as lots of others ) and had to play all of them that I could find. I had an ear for music that not a massive amount of people do, in short if we are expected to hear a beat here then they better sure be one other wise its just going to sound aweful and my ears/brain can pick this up.
    With this ability and exploring music for years to do this day, I picked up <a href ="{{ url_for('my_view.aboutdj')}}"target="_blank">DJ'ing</a> and <a href ="{{ url_for('my_view.aboutmusicproduction')}}"target="_blank">Music production</a> both of which you can click on to find out a more in depth explanation of these, and I was loving music and it became one of my favorite things in life from hating the stuff before. Crazy right? below are a couple of songs I am partically fond off, if you want most of my songs you can find them on the music production page and no I don't think you need yet another link their as its right above me!</p>

    <div>
        <a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-alcove"target="_blank">
        <img class="album2" src="static/alcove.png"  alt="Album cover of alcove"class="zoom" class="size"></a> 
        <a href="https://soundcloud.com/qweggy-651047868/dj-qweggy-earthquake"target="_blank">
        <img class="album2" src="static/earthquake.png" alt="Album cover of earthquake"class="zoom" class="size"></a>
    </div>
<br>

<H2>Favorite song?</H2>
<p>Ugh, I knew this question was coming unfortuantly I can not give you a simple answer other than I like lots of different music and simple can't pick a favorite one and will not pick 1 favorite one as i have mutiple maybe even 100's so if you want me to type all them here think again but instead I will list you my favorite Genres instead below:</p>
<div>
    <ol>
        <li>Drum And Bass</li>
        <li>Trance</li>
        <li>Techno</li>
        <li>Dance</li>
        <li>Rock</li>
        <li>Rave</li>
    </ol>
<br>
<p>Drum and bass has always had a place in my heart since I got into music and it is also what I am well known for on both Fuser and Soundcloud its just a great Genre of music and so uplifting and CATCHY! super catchy. Trance is on the opposite scale but similar... so trance is uplifting and dancy but its also calming and chill ( not as chill as LO-FI ) as long as you don't easily stray into Trances sub catorgories such as Hard Trance then its not quite, well erm chill shall we say. Techno very similar to drum and bass bit more dancy normally less harder than DNB but great tracks have come from techno. Dance we all know what Dance is... yes it makes you dance moving on! Rock this one may have surprised you but yes i am still a metal head at heart, Ale storm and dragon force to name a few of my favorites... oh and toxicity and slipnot... Rave is rave, great music woudn't go to one in fear of being st... to dancy for me to cope but good music.</p>

<p> Oh yeah sorry your link back to the <a href ="{{ url_for('my_view.aboutmusic')}}">top of the page</a>. </p>
    </div>
{% endblock %}