{% extends 'base.html' %}

{% block content %}
<h1>What is Fuser?</h1>

<h2>Straight to the point?</h2>
    <p>Fuser lets you mix stems into stems. To produce a remix.</p>
    <br>
<img src="static/fuser.jpg" alt="image of fuser game with mix the hits title">
    <br>
    <br>
    <h2>More details? sure!</h2>
<p>Fuser was released to console and PC in Novemeber of 2020 by the company Harmonix the same company who are responsible for Guitar Hero and Audica and make amazing music genre games. Fuser was huge for me it made it super easy, everything sounded perfect and it even allowed for real life songs you hear everyday such as LMFAO Shake that, Blah blah blah to country like Jolene and mud on the tires. Each of these tracks have 4 different disc's these are the Lead, Vocal, Drums and Bass and are 30 second snippets of the most known tracks, we can then either with friends in multiplayer or alone in freestyle drop the Drums from Blah Blah Blah, the Bass from Jolene, the lead from Hot Stuff and the Vocals of Killing in the name off and voila you have made a mix from 4 different songs into 1 song and they can be changed altered and effects used live to make it hit harder! SOUNDS GREAT RIGHT! IT WAS! ... until they got bought by epic to work on FoRtNiGhT but we don't talk about this.</p>
<br>
<img src="static/fuser2.jpg" alt="in game picture of fuser">
<br> 
<br>
<p>If you have read the about me page then you know this is where my popularity orginally came from, a large Discord server dedicated to fuser and me being absolutly mad with Bass and mixing perfectly using custom instruments and song stems, as they just came to me just by listening. I didn't expect all the attention from it, I streamed it and got a Level 5 hype train straight off the bat! they are and still are the best community I am still in to this day. I had posters created for me like the one below. </p>
<br>
<img src="static/qweggyhero.jpg" alt="picture of dj qweggy in his fuser uniform in game">
<br>
<br>
<p>If you want to know more about fuser please <a href ="https://www.fuser.com/en-gb"target="_blank"> click here</a> to go to their website and have a read! I HOPE TO SEE YOU IN GAME</p>
<br>
<p> Oh crud yes, sorry your link to the <a href ="{{ url_for('my_view.fuser')}}">top of the page</a> master! </p>
{% endblock %}