{% extends 'base.html' %}

{% block content %}
<h1>Qweggy's rock</h1>
<p> Welcome to the DJ Qweggy fan website! Am so happy to see you here. Here you can find more information about myself, 
    my set up and of course the important part the music i create and/or mix using virtual DJ on live sets or video recordings of my music. I also use Ableton Live Studio 11 to create my own music from scratch. 
    </p>
<h2>Welcome to the Lily Pad</h2>
<br>
<div>
    <div><p>Hi! welcome to my home, so i am presuming your here to learn more about me. As i hate talking about myself lets clear all this up here!
    You can navigate the page above just by clicking the 3 lines in the top right in their i have pages about myself, music and a lot of my hobby stuff. My real name is Blake and I am 29 years old, my birthday is 16.08.1992 I live in a little place not far from Manchester but i originally was born in south yorkshire Doncaster just by the river don at the doncaster royal infirmary at 00:03 in the morning! and I create music and also know my way around a set of DJ decks. If you're here you know this so let us start from the beginning shall we.
    If your here you probably already know about me, i am Qweggy also known as "That frog on the internet" am into everything music related, frog related and have had a fairly simple but happy life! more about this on my <a href="{{ url_for('my_view.aboutme')}}">about me</a> page. </p>
    </p>
    </div>
        <div>
            <img src="static/frogdeck.jpg" alt="frog playing dj decks">
        </div>

    </div>
{% endblock %}